{% if config.extra.specialist_clients and page.extra.specialism %}
  {% set path = path | replace(from="data/", to="data/" ~ page.extra.specialism ~ "/" ) -%}
{% endif %}

{% set examples = load_data(path=path) -%}

<section class="bg-gray pt-1 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-5 text-center">{{ heading }}</h2>
      </div>
      {% for example in examples %}
      <div class="col-6 col-md-3 d-flex">
        <a href="#get-a-free-quote"
           class="card hover-effect">
          <img src="https://{{ config.extra.twicpics_id }}.twic.pics/{{ config.extra.cdn_images_base_path }}/{{ example.image_path }}?twic=v1/output=preview"
               class="card-img-top"
               data-twic-src="image:{{ config.extra.cdn_images_base_path }}/{{ example.image_path }}"
               data-twic-transform="cover=600x600"
               alt="{{ example.caption | safe }}">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="mb-0">{{ example.caption | safe }}</h6>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% if show_phone_cta and config.extra.phone_number.value %}
    <div class="row justify-content-center">
      <a href="tel:{{ config.extra.phone_number.value }}"
         class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Call Now {{ config.extra.phone_number.display_value }}</a>
    </div>
    {% endif %}
  </div>
</section>
