<section class="block relative py-1 px-0 leading-6 text-left text-gray-500">
  <div class="px-3 mx-auto w-full lg:w-9/12 text-left">
    <div class="flex flex-wrap flex-auto justify-center mx-0 mb-6 w-full text-gray-500">
      <div class="relative px-0 w-full sm:flex-shrink-0 sm:flex-grow-0 md:basis-1/4 pb-3"
           style="min-height: 1px;">
        <img src="https://{{ config.extra.twicpics_id }}.twic.pics/{{ config.extra.cdn_images_base_path }}/{{ image_path }}?twic=v1/output=preview"
             class="hidden flex-shrink-0 max-w-full align-middle border-none sm:block w-full object-cover"
             data-twic-src="image:{{ config.extra.cdn_images_base_path}}/{{ image_path }}"
             data-twic-transform="cover=600x600"
             data-zoomable
             alt="{{ image_description }}">
      </div>
      <div class="flex relative flex-col px-0 w-full sm:flex-shrink-0 sm:flex-grow-0 md:basis-1/2"
           style="min-height: 1px;">
        <div class="p-3 md:pl-10">
          <h2 class="mt-0 mb-4 text-3xl font-semibold text-slate-800"
              style="line-height: 1.2;">
            {{ heading }}
          </h2>
          <p class="mt-0 mb-4 text-xl font-normal leading-7">
            {{ intro }}
          </p>
          {{ body | markdown | safe }}
        </div>
      </div>
    </div>
  </div>
</section>

