{% if config.extra.specialist_clients and page.extra.specialism %}
  {% set path = path | replace(from="data/", to="data/" ~ page.extra.specialism ~ "/" ) -%}
{% endif %}

{% set reviews = load_data(path=path) -%}
<section class="bg-gray pt-1 pb-2">
  <div class="container">
    <div class="row pb-2">
      <div class="col-12">
        <h2 class="display-5 text-center">{{ heading }}</h2>
      </div>
      {% for review in reviews %}
      <div class="col-sm-6">
        <img src="https://{{ config.extra.twicpics_id }}.twic.pics/{{ config.extra.cdn_images_base_path }}/{{ review.image_path }}?twic=v1/output=preview"
             class="card-img-top pb-2"
             data-twic-src="image:{{ config.extra.cdn_images_base_path }}/{{ review.image_path }}"
             alt="{{ review.content }}">
      </div>
      {% endfor %}
    </div> 
    {% if show_phone_cta and config.extra.phone_number.value %}
    <div class="row justify-content-center">
      <a href="tel:{{ config.extra.phone_number.value }}"
         class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Call Now {{ config.extra.phone_number.display_value }}</a>
    </div>
    {% else %}
    <div class="row justify-content-center">
      <a href="#get-a-free-quote"
        class="col-lg-6 col-md-8 col-sm-12 m-1 px-3 py-2 btn btn-lg btn-primary">Get a
        Quote</a>
        </div>
    {% endif %}
  </div>
</section>
