{% if config.extra.specialist_clients and page.extra.specialism %}
{% set path = path | replace(from="data/", to="data/" ~ page.extra.specialism ~ "/" ) -%}
{% endif %}

{% set services = load_data(path=path) -%}

<section class="block relative py-8 px-0 leading-6 text-left text-gray-500">
  <div class="px-3 mx-auto w-full lg:w-9/12 text-left">
    <div class="flex flex-wrap w-full text-gray-500">
      <div class="relative flex-grow-0 flex-shrink-0 px-3 w-full max-w-full basis-full"
           style="min-height: 1px;">
        <h2 class="mt-0 mb-4 text-3xl font-semibold text-center text-slate-800"
            style="line-height: 1.2;">
          Services
        </h2>
      </div>

      {% for service in services %}

      <div class="w-full sm:w-6/12 md:w-3/12 px-2">
        <a href="#get-a-free-quote"
           class="flex overflow-hidden relative top-0 flex-col mb-3 w-full min-w-0 font-semibold break-words bg-clip-border bg-white rounded-md border-0 border-solid cursor-pointer md:mb-6 border-neutral-200 text-sky-500 hover:-top-1.5 hover:text-sky-700"
           style="text-decoration: none; transition: top 0.2s ease 0s, box-shadow 0.2s ease 0s; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
          <img src="https://{{ config.extra.twicpics_id }}.twic.pics/{{ config.extra.cdn_images_base_path }}/{{ service.image_path }}?twic=v1/output=preview"
               class="flex-shrink-0 w-full max-w-full align-middle border-none"
               data-twic-src="image:{{ config.extra.cdn_images_base_path }}/{{ service.image_path }}"
               data-twic-transform="cover=600x600"
               alt="{{ service.description }}"
               style="border-top-left-radius: 6px; border-top-right-radius: 6px;" />
          <div class="flex-auto py-4 px-6">
            <div class="flex justify-between items-center">
              <h6 class="my-0 text-base text-slate-800"
                  style="line-height: 1.2;">
                {{ service.description | safe }}
              </h6>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
