{% extends "index_modular.html" %}

{% block nav %}
{% endblock nav %}

{% block header %}
<module href="/section.html"
        background="white">

  <module href="/logo.html"></module>

  <module href="/hero_container.html">
    <module href="/hero_heading.html">{{ page.extra.heading }}</module>
    <module href="/hero_subheading.html">{{ page.extra.subheading }}</module>

    {% if not page.extra.hide_call_to_actions_in_hero and config.extra.phone_number.value %}
    <module href="/buttons/call.html"
            inset="6"></module>
    {% endif %}

    <module href="/hero_usps.html"></module>

    <module href="/review_rating.html"
            major_rating="4"
            minor_rating="92"
            number_of_reviews="132"></module>

    <module href="/icons/trust_a_trader_membership.html"></module>
    <module href="/icons/trust_a_trader_logo.html"></module>
    <!-- <module href="/icons/trust_a_trader_logo.html"></module> -->
  </module>
</module>


{% endblock header %}

{% block content %}

{{ page.content | safe }}

{% endblock content %}

{% block footer %}

{% if config.extra.specialist_clients and page.extra.specialism %}
{% for client in config.extra.specialist_clients %}
{% if client.specialism == page.extra.specialism %}
{% set client_name = client.name %}
{% set client_address = client.address %}
{% endif %}
{% endfor %}
{% endif %}

{% if not client_name %}
{% set client_name = config.extra.client.name %}
{% set client_address = config.extra.client.address %}
{% endif %}

<footer class="block py-3 leading-6 text-left text-gray-500 md:py-6 bg-slate-800">
  <div class="px-3 mx-auto w-full text-left max-w-5xl">
    <div class="flex flex-wrap justify-between items-center -mx-3 mt-6 w-full text-gray-500 md:mt-8">
      <div class="relative flex-grow px-3 w-full max-w-full text-white basis-0"
           style="min-height: 1px;">
        We serve {{ config.extra.town }} and surrounding areas: {{ config.extra.surrounding_areas | join(sep=", ") }}
      </div>
    </div>
    <div class="flex flex-wrap justify-between items-center px-3 -mx-3 mt-6 w-full text-gray-500 md:mt-8">
      <p class="mt-0 mb-4 text-sm leading-5 text-white opacity-50">
        &copy; {{ now() | date(format="%Y") }} {{ client_name }} {{ client_address }}, {{ config.extra.google_ads_tracking_number }}
      </p>
      <ul class="flex pl-0 mt-0 mb-4"
          style="list-style: none;">
        <li class=""
            style="list-style: outside none none;">
          <a href="/privacy-policy"
             class="text-sm font-semibold leading-5 text-white bg-transparent cursor-pointer hover:text-sky-700 mr-4"
             style="text-decoration: none; list-style: outside none none;">Privacy Policy</a>
        </li>
        <li class=""
            style="list-style: outside none none;">
          <a href="/terms-and-conditions"
             class="text-sm font-semibold leading-5 text-white bg-transparent cursor-pointer hover:text-sky-700"
             style="text-decoration: none; list-style: outside none none;">Terms and Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% endblock footer %}
