{% extends "index_modular.html" %}

{% block nav %}
{% endblock nav %}

{% block header %}
<section class="block relative py-6 px-0 leading-6 text-left text-gray-500 bg-white">
  <div class="items-center text-center md:flex place-content-center">
    <div class="flex flex-wrap justify-center py-6 mx-0 w-full text-gray-500 md:py-8 max-w-5xl">
      <div class="relative py-6 px-0 w-full sm:flex-shrink-0 sm:flex-grow-0"
           style="min-height: 1px;">
        <h1 class="mt-0 mb-4 text-3xl md:text-5xl font-semibold text-slate-800"
            style="line-height: 1.2;">
          {{ page.extra.heading }}
        </h1>
        <p class="mt-0 mb-6 text-lg md:text-xl font-normal leading-7">
          {{ page.extra.subheading }}
        </p>
        {% if page.extra.hide_call_to_actions_in_hero %}
        {% elif config.extra.phone_number.value %}
        <a href="tel:{{ config.extra.phone_number.value }}"
           class="inline-block relative py-3 px-6 m-1 text-xl font-bold w-10/12 md:w-6/12 leading-normal text-white align-middle whitespace-nowrap rounded border border-solid cursor-pointer select-none sm:max-w-full sm:flex-shrink-0 sm:flex-grow-0 sm:basis-full md:flex-shrink-0 md:flex-grow-0 lg:flex-shrink-0 lg:flex-grow-0 lg:basis-1/2 border-sky-500 bg-sky-500 hover:border-sky-600 hover:bg-sky-600 hover:text-white"
           style="text-decoration: none; min-height: 1px; transition: none 0s ease 0s;">Call Now {{ config.extra.phone_number.display_value }}</a>
        <a href="#get-a-free-quote"
           class="inline-block relative py-3 px-6 m-1 w-10/12 md:w-6/12 text-xl font-bold leading-normal text-white align-middle whitespace-nowrap bg-gray-500 rounded border border-gray-500 border-solid cursor-pointer select-none sm:max-w-full sm:flex-shrink-0 sm:flex-grow-0 sm:basis-full md:flex-shrink-0 md:flex-grow-0 lg:flex-shrink-0 lg:flex-grow-0 lg:basis-1/2 hover:border-gray-600 hover:bg-gray-600 hover:text-white"
           style="text-decoration: none; min-height: 1px; transition: none 0s ease 0s;">Get a Quote Instantly</a>
        {% else %}
        <a href="#get-a-free-quote"
           class="inline-block relative py-3 px-6 m-1 w-10/12 md:w-6/12 text-xl font-bold leading-normal text-white align-middle whitespace-nowrap bg-gray-500 rounded border border-gray-500 border-solid cursor-pointer select-none sm:max-w-full sm:flex-shrink-0 sm:flex-grow-0 sm:basis-full md:flex-shrink-0 md:flex-grow-0 lg:flex-shrink-0 lg:flex-grow-0 lg:basis-1/2 hover:border-gray-600 hover:bg-gray-600 hover:text-white"
           style="text-decoration: none; min-height: 1px; transition: none 0s ease 0s;">Get a Quote Instantly</a>

        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock header %}

{% block content %}

{{ page.content | safe }}

{% endblock content %}

{% block footer %}

{% if config.extra.specialist_clients and page.extra.specialism %}
{% for client in config.extra.specialist_clients %}
{% if client.specialism == page.extra.specialism %}
{% set client_name = client.name %}
{% set client_address = client.address %}
{% endif %}
{% endfor %}
{% endif %}

{% if not client_name %}
{% set client_name = config.extra.client.name %}
{% set client_address = config.extra.client.address %}
{% endif %}

<footer class="block py-3 leading-6 text-left text-gray-500 md:py-6 bg-slate-800">
  <div class="px-3 mx-auto w-full text-left max-w-5xl">
    <div class="flex flex-wrap justify-between items-center -mx-3 mt-6 w-full text-gray-500 md:mt-8">
      <div class="relative flex-grow px-3 w-full max-w-full text-white basis-0"
           style="min-height: 1px;">
        We serve {{ config.extra.town }} and surrounding areas: {{ config.extra.surrounding_areas | join(sep=", ") }}
      </div>
    </div>
    <div class="flex flex-wrap justify-between items-center px-3 -mx-3 mt-6 w-full text-gray-500 md:mt-8">
      <p class="mt-0 mb-4 text-sm leading-5 text-white opacity-50">
        &copy; {{ now() | date(format="%Y") }} {{ client_name }} {{ client_address }}, {{ config.extra.google_ads_tracking_number }}
      </p>
      <ul class="flex pl-0 mt-0 mb-4"
          style="list-style: none;">
        <li class=""
            style="list-style: outside none none;">
          <a href="/privacy-policy"
             class="text-sm font-semibold leading-5 text-white bg-transparent cursor-pointer hover:text-sky-700 mr-4"
             style="text-decoration: none; list-style: outside none none;">Privacy Policy</a>
        </li>
        <li class=""
            style="list-style: outside none none;">
          <a href="/terms-and-conditions"
             class="text-sm font-semibold leading-5 text-white bg-transparent cursor-pointer hover:text-sky-700"
             style="text-decoration: none; list-style: outside none none;">Terms and Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% endblock footer %}
